{% extends 'ldap/admin/ldapadmin.base.html.twig' %}  

{% block title %}Centre d'administration - Utilisateurs actifs{% endblock %}

{% block body %}

<h1 class="border-bottom border-dark border-2 py-2">{{ title|trans }}</h1>

<script src="//cdn.jsdelivr.net/npm/featherlight@1.7.14/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<div class="row gx-4 m-0">

    
    <div class="pb-2">
        {% if is_granted('create', user) %}
        <a class="text-decoration-none text-body" href="{{ path('ldapadmin_usercreate') }}">
            <span class="me-3">
                <i class="fa-solid fa-user-plus"></i>
                {{ 'createUser'|trans }}
            </span>
        </a>
        {% endif %}
        <a href="#" id ="refreshDatatable" class="text-decoration-none text-body">
            <span class="me-3"><i class="fa-solid fa-rotate"></i>&nbsp;{{ 'refresh' | trans }}</span>
        </a>
        
    </div> 
    <div id="table_user"></div>
    {{ sg_datatables_render(datatable) }}
</div>
<script>

$(document).ready(function(){

    var oTable = $('#sg-datatables-user_datatable').dataTable();
    $.fn.DataTable.ext.pager.numbers_length = 5;

    $('#sg-datatables-user_datatable_wrapper .bottom').addClass('row');
    $('#sg-datatables-user_datatable_wrapper .bottom>div').addClass('col-6');
    $('#sg-datatables-user_datatable_wrapper .bottom>div').addClass('py-0')
    $('#sg-datatables-user_datatable_wrapper .bottom>div').eq(1).find("label").addClass('float-end');
    $('.dropdown-toggle').on('show.bs.dropdown', function(){
        
    });
    
    $('#tab li:first-child button').trigger('click');
});

</script>

{% endblock %}