{% extends 'ldap/admin/ldapadmin.base.html.twig' %}  

{% block title %}Centre d'administration - Créer un utilisateur{% endblock %}

{% block body %}
<div class="container col-10">
<h1 class="border-bottom border-dark border-2 py-2">{{ title|trans }}
        {% if form.vars.data.id %}
            | <a class="text-decoration-none text-body fs-5" href="{{ path('ldapadmin_user_resetpwd', {id: form.vars.data.id}) }}">
            <span class="bi bi-fa">
            <i class="fa-solid fa-key"></i></span> {{ 'resetPwd'|trans }}
            
            </a>
        {% endif %}
</h1>
{# Affiche tous les messages flash #}
{% for type, messages in app.flashes %}
    <div class="alert bg-{% if type == "error" %}danger{% else %}{{ type }}{% endif %} {% if type != "info" %}text-white{% endif %}">

    {% for message in messages %}
        <p class="m-0">
            {{ message|trans|raw}}
        </p>
    {% endfor %}
    </div>
{% endfor %}
{{ form_start(form) }}
    <div class="form-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.fullname) }}
        <div class="col-6"></div>
        {{ form_row(form.courriel) }}
        <div class="col-6"></div>

    </div>
    <div id="structure" class="row pt-2 pb-1">
        <h2 class="border-bottom border-dark border-2 px-0 pb-2">Structure</h2>
        {{ form_row(form.region) }}
        {{ form_row(form.structure) }}
    </div>

    <div class="row">
        <h2 class="border-bottom border-dark border-2 px-0 py-2">Membre de</h2>
        <p class="mb-1"> cliquez dans le cadre ci-dessous pour sélectionner un groupe d'utilisateur</p>
        {{ form_widget(form.Groupes) }}
    </div>

        {% if not form.vars.data.id %}
        <p class="callout callout-info p-1 mt-3">{% trans %}usercreate.info{% endtrans %}</p>
        {% endif %}
    <div class="row">
        {{ form_row(form.valid) }}
        {{ form_row(form.cancel) }}
    </div>
    
{{ form_end(form) }}

</div>
{% endblock %}