{% extends 'ldap/admin/ldapadmin.base.html.twig' %}  

{% block title %}Centre d'administration - Import de fichier{% endblock %}

{% block body %}

<h1 class="border-bottom border-dark border-2 py-2">{{ title|trans }}</h1>

{# Affiche tous les messages flash #}
{% for type, messages in app.flashes %}

    <div class="alert bg-{{ type }} {% if type != "info" %}text-white{% endif %}">

    {% for message in messages %}
        <p class="m-0">
        
            {% if ',' in message %}
                {% set messageSplit = message|split(',') %}
                {{ messageSplit[0]|trans({'%count%': messageSplit[1]})|raw}}<br/>
                {{ messageSplit[2]|raw}}
            {% else %}
                {{ message|trans|raw}}
            {% endif %}
        </p>
    {% endfor %}
    </div>
{% endfor %}
{% include 'ldap/admin/formdefault.html.twig'%}
<div class="border-top border-dark border-2 py-3 d-none" id="importProgress">
    <h1>{{ "importProgress"|trans }}</h1>
    
    <div class="progress">
      <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>    

</div>

<div class="border-top border-dark border-2 py-2 d-none" id="reportProgress">
    <h1>{{ "reportProgress"|trans }}<a id="reportDl" class="btn btn-outline-dark float-end d-none" href="{{ path('ldapadmin_bulkUser_report') }}">{{ 'dlReport' |trans }}</a></h1>

    <div class="reportBody">
    </div>

</div>

{% endblock %}