{% macro treeitems(items, tree, user) %}
    
        {% for item in items %}
        {% set entry = tree.entries[item] %}

            <li class="nav-item">        
                {% if is_granted('create', user) %}
                    <a href="#" class="float-end"><i class="fa-solid fa-magnifying-glass"></i></a>
                {% endif %}
                {% if not entry.isLeaf %}

                    <button class="btn btn-toggle align-items-center rounded collapsed" id="item-{{ entry.sanitizedName }}" data-bs-toggle="collapse" data-bs-target="#{{ entry.sanitizedName }}" aria-expanded="false" data-href="{{ entry.name }}">
                        {{ entry.displayName }}
                    </button>

                    <ul id="{{ entry.sanitizedName }}" class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-3 small collapse">
                        {{ _self.treeitems(entry.children, tree, user) }}
                    </ul>
                    
                {% else %}
                
                    <a class="btn link-dark rounded ms-3" href="#">{{ entry.displayName }}</a>
                    
                {% endif %}
            </li>
        {% endfor %}
    
{% endmacro %}