{%- block form_widget_compound -%}
    <fieldset>
        <div {{ block('widget_container_attributes') }} class="fields">
            {%- if form is rootform -%}
            {{ form_errors(form) }}
            {%- endif -%}
            {{- block('form_rows') -}}
            {{- form_rest(form) -}}
        </div>
        <div class="reset-password-wrapper">
             <input id="reset-password-submit" class="login primary" name="submitted" type="submit" value="Réinitialiser le mot de passe" />
             <div class="submit-icon icon-confirm-white"></div>
        </div>

    </fieldset>
{%- endblock form_widget_compound -%}

{%- block widget_attributes -%}
    id="{{ id }}" name="{{ full_name }}"
    {%- if disabled %} disabled="disabled"{% endif -%}
    {%- if required %} required="required"{% endif -%}
    {{ block('attributes') }}
{%- endblock widget_attributes -%}