
<header role="banner" class="sticky-top">
    <div class="header-inner clearfix">
        <div class="float-start">
            <a id="logolink" class="brand" href="/">
                <img id="logo" src="/img/LOGO_549x217.png" alt="thestreamshop">
            </a>
        </div>
        <div class="float-end">
            <div class="btn-group dropdown languageSwitcher">
                {% include 'languageSwitcher.html.twig' %}
            </div>
            <a class="btn" href="/profile"> <i class="fas fa-user"></i></a>
            <a class="btn" href="/cart"> <i class="fas fa-shopping-cart"></i></a>
            {% if is_granted('ROLE_ADMIN') %}
                 <a class="btn" href="/admin"> <i class="fas fa-key"></i></a>
            {% endif %}
            

        </div>
    </div>
    <div id="div_audio">
        <div class="div_audio_pxl" id="div_audio_pxl1">
            <img class="audio_pxl" src="/img/pxl_separation.png">
        </div>
        <div id="div_audio_img">
            <img id="audio_img" src="/img/BAN_midseparation.png">
        </div>
        <div class="div_audio_pxl" id="div_audio_pxl2">
            <img class="audio_pxl" src="/img/pxl_separation.png">
        </div>
    </div>
    <nav class="navbar navbar-expand-lg p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto p-0" data-target="_self">
                <li class="nav-item dropdown">
                    <div class="div-nav-link position-relative">
                        <a href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" id="navbarDropdown">Overlays
                        </a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="{{ path( 'category_show', {id: 1}) }}" class="dropdown-item">
                            <img src="/img/menu/menu_overlay.jpg" alt="Overlays complets" />
                            <span class="image-title">Overlays complets</span>
                        </a>
                        <a href="{{ path( 'category_show', {id: 2}) }}" class="dropdown-item">
                            <img src="/img/menu/menu_alerte.jpg" alt="Alertes" />
                            <span class="image-title">Alertes</span>
                        </a>
                        <a href="{{ path( 'category_show', {id: 3}) }}" class="dropdown-item">
                            <img src="/img/menu/menu_transition.jpg" alt="Transitions" />
                            <span class="image-title">Transitions</span>
                        </a>
                        <a href="{{ path( 'category_show', {id: 4}) }}" class="dropdown-item">
                            <img src="/img/menu/menu_tchat.jpg" alt="Écrans de discussions" />
                            <span class="image-title">Écrans de discussions</span>
                        </a>
                        <a href="{{ path( 'category_show', {id: 5}) }}" class="dropdown-item">
                            <img src="/img/menu/menu_scene.jpg" alt="Écrans d'entracte" />
                            <span class="image-title">Écrans d'entracte</span>
                        </a>
                        <a href="{{ path( 'category_show', {id: 6}) }}" class="dropdown-item">
                            <img src="/img/menu/menu_cam.jpg" alt="Habillages webcam" />
                            <span class="image-title">Habillages webcam</span>
                        </a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <div class="div-nav-link position-relative">
                        <a href="#" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" id="navbarDropdown">Emotes
                            et badges</a>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="/category/emotes" class="dropdown-item">
                            <img src="/img/menu/menu_emote.jpg" alt="Emotes d'abonnés" />
                            <span class="image-title">Emotes d'abonnés</span>
                        </a>
                        <a href="/category/badges" class="dropdown-item">
                            <img src="/img/menu/menu_badge.jpg" alt="Badges d'abonnés">
                            <span class="image-title">Badges d'abonnés</span>
                        </a>
                        <a href="/category/bitbadges" class="dropdown-item">
                            <img src="/img/menu/menu_bit.jpg" alt="Badges de bit">
                            <span class="image-title">Badges de bit</span>
                        </a>
                        <a href="/category/channelpoint" class="dropdown-item">
                            <img src="/img/menu/menu_point_chaine.jpg" alt="Points de chaine">
                            <span class="image-title">Points de chaine</span>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="nav-item apropos">
                <div class="div-nav-link position-relative">
                    <a href="/about" class="apropos nav-link">A propos de TheStreamshop</a>
                </div>
            </div>

        </div>
    </nav>
</header>